#calculator{
    border:2px solid rgba(10,10,10,0.5)
}
#outputField{
    background: linear-gradient(to right, lightgrey, white);
    padding:20px
}
.operator,.key,#cancel,#equals{
    margin:0px;
    padding:20px;
}
.key:hover{
    background-color: rgba(40,10,10,0.1)
}
.key:active{
    background-color: rgba(40,10,10,0.3)
}
.operator:hover,#equals:hover,#cancel:hover{
    background-color: rgba(10,10,10,0.1);
}
.operator:active,#equals:active,#cancel:active{
    background-color: rgba(10,10,10,0.3);
}